<div class="row">
  <div class="col-sm-6" *ngFor="let project of projects">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{project?.topic}}</h5>
        <p class="card-text">{{project?.title}}</p>
        <p class="card-text">Idealizador: {{project?.owner_id.full_name}}</p>
        <div class="card-text">
          Voluntários:
          <div *ngFor="let volunteer of project?.volunteers_id">
              {{volunteer.full_name}}
          </div>
        </div>
        <button  class="btn btn-info">Atualizar</button>
        <button (click)="delete(project?._id)" class="btn btn-danger">Encerrar</button>
      </div>
    </div>
  </div>
</div>