<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="card">
    <div class="card-body">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">Quem sou</li>
          <li *ngIf="stepControl > 1" class="breadcrumb-item">{{ titleOfSecondStep }}</li>
          <li *ngIf="stepControl > 2" class="breadcrumb-item">Data</li>
        </ol>
      </nav>
    </div>
    <div class="card">
      <div class="card-body" class="mx-auto">
          <form>
            <div class="form-group">
              <label for="inputAddress">Nome completo</label>
              <input type="text" [(ngModel)]="fullName" name="fullName" class="form-control" id="inputAddress" placeholder="José Silva">
            </div>
            <button (click)="chooseRole(fullName, true)" class="btn btn-primary">Idealizador</button>
            <button (click)="chooseRole(fullName, false)" class="btn btn-primary">Voluntário</button>
          </form>
        <!-- <app-project-owner></app-project-owner>
        <app-project></app-project> -->
      </div>
  </div>
</div>

<router-outlet></router-outlet>
